<div class="container-fluid">
    <div class="row">
        <a asp-controller="MstKintoneEnviroments" asp-action="Index"
           class="col-md-6">
            kintone環境マスタ(メンテナンス)
        </a>
    </div>

    <div class="row"></div>
    <div class="row">
        <a asp-controller="MstDeployPresets" asp-action="Index"
           class="col-md-6">
            デプロイ情報プリセット(メンテナンス)
        </a>
    </div>

    <div class="row">
        <a asp-controller="MstKintoneAppMappings" asp-action="Index"
           class="col-md-6">
            kintoneアプリ対応表マスタ(メンテナンス)
        </a>
    </div>

    <div class="row"></div>
    <div class="row">
        <a asp-controller="DeployPresetSelect" asp-action="Index"
           class="col-md-6">
            デプロイ画面へ
        </a>
    </div>
</div>